.idea

Thumbs.db
app/extensions/image/readme.txt
/runtime/debug/index.data
/runtime/debug/58d133b41e9cf.data
/runtime/debug/58d133b130225.data
/runtime/debug/58d135a0803d9.data
/runtime/debug/58d135c13b87d.data
/runtime/debug/58d1352ac136f.data
/runtime/debug/58d135575f0e8.data
